// Custom.scss

// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions.scss";

// 2. Include any default variable overrides here
$body-bg: #000;
$body-color: white;





// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables.scss";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../bootstrap/scss/maps.scss";
@import "../bootstrap/scss/mixins.scss";
@import "../bootstrap/scss/root.scss";


// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities.scss";

"background-color" {
    
}
@import "../bootstrap/scss/reboot.scss";
@import "../bootstrap/scss/type.scss";
@import "../bootstrap/scss/images.scss";
@import "../bootstrap/scss/containers.scss";
@import "../bootstrap/scss/grid.scss";
@import "../bootstrap/scss/helpers.scss";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api.scss";

// 8. Add additional custom code here

#banner-text {
    padding: 10rem;
}


.section-headline, 
.social-links {
    padding: 2rem;
}

#contact {
    margin: 5rem;
}




